@model QLDSV.Models.NganhDaoTao
@using QLDSV.ViewModels;

@{
    ViewBag.Title = "Details";

    List<NganhDaoTaoMonHocViewModel> dataMonHoc = (List<NganhDaoTaoMonHocViewModel>)ViewData["DanhSachMonHoc"];
}

<style>
    .button {
        padding: 5px 10px;
        font-size: 16px;
        text-decoration: none;
        color: #0d6efd;
        border: 1px solid #0d6efd;
        border-radius: 5px;
        text-align: center;
        transition: background 0.1s ease;
    }

        .button:hover {
            color: #fff;
            background: #0d6efd
        }

    .button-new {
        float: right;
        margin-right: 20px;
        margin-bottom: 10px;
    }
</style>

<section class="content-header" style="text-align: center;">
    <h1>
        <small style="font-size: 32px">Thông tin chi tiết</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin ngành đào tạo</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                @Html.HiddenFor(model => model.NganhDaoTaoID, new { id = "hNganhDaoTaoID" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Khoa.TenKhoa, "Khoa", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("KhoaID", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TenNganh, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("NganhDaoTaoID", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách môn học trong ngành</h3>
                    <div class="col-lg-12">
                        @Html.ActionLink("Thêm môn học", "ThemMonHocVaoNganh", new { id = Model.NganhDaoTaoID }, new { @class = "btn bg-maroon margin button" })
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="gridMonHocDetails" class="table table-bordered table-striped hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>
                                    Mã môn học
                                </th>
                                <th>
                                    Tên môn học
                                </th>
                                <th>
                                    Số tín chỉ
                                </th>
                                <th>
                                    Loại môn học
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; }
                            @foreach (NganhDaoTaoMonHocViewModel item in dataMonHoc)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MonHoc.MaMonHoc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MonHoc.TenMonHoc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MonHoc.SoTinChi)
                                    </td>
                                    <td>
                                        @item.MonHoc.LoaiMonHoc
                                    </td>
                                    <td>@item.MonHoc.MonHocID</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn bg-purple margin button" })
        </div>
    </div>
</section>
