@model IEnumerable<QLDSV.Models.MonHoc>

@{
    ViewBag.Title = "Index";
}

<style>
    .button {
        float: right;
        margin: 0 15px 10px 0; 
        padding: 5px 10px;
        font-size: 16px;
        text-decoration: none;
        color: #0d6efd;
        border: 1px solid #0d6efd;
        border-radius: 5px;
        text-align: center;
        transition: background 0.1s ease;
    }

    .button:hover {
        color: #fff;
        background: #0d6efd
    }

    td, th {
        text-align: center;
    }

    .edit {
        border: 1px solid transparent;
        background: transparent;
    }
</style>

<section class="content-header">
    <h1>
        Danh sách môn học
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Danh mục</a></li>
        <li class="active">Môn học</li>
    </ol>
</section>
<hr />

<a href="/MonHoc/Create" class="btn bg-purple margin button"><i class="fa fa-fw fa-plus"></i> Thêm mới</a>

<section class="content">

    <table id="gridDetails" class="table table-bordered table-striped hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    Mã môn học
                </th>
                <th>
                    Tên môn học
                </th>
                <th>
                    Số tín chỉ
                </th>
                <th>
                    Loại môn học
                </th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaMonHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenMonHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTinChi)
                    </td>
                    <td>
                        @(item.LoaiMonHoc == 1 ? "Bắt buộc" : "Tự chọn")
                    </td>
                    <td>@item.MonHocID</td>
                    <td>
                        <a href="/MonHoc/Edit/@(item.MonHocID)" type="button" class="btn btn-light edit" style="padding: 2px 15px;">Edit</a>
                        <a href="/MonHoc/Delete/@(item.MonHocID)" type="button" class="btn btn-danger" style="padding: 2px 15px;">Delete</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

</section>

