@model IEnumerable<QLDSV.ViewModels.DanhSachLopViewModel>
@using QLDSV.ViewModels;

@{
    ViewBag.Title = "GiangVienCapNhatDiem";
}

<section class="content-header">
    <h1>
        Quản lý bảng điểm
        <small>Danh sách chi tiết</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Quản lý bảng điểm</li>
    </ol>
</section>
<hr />
<section class="content">
    <table id="gridBangDiemSinhVienDetails" class="table table-bordered table-striped hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    Mã SV
                </th>
                <th>
                    Họ và tên
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Điểm TP
                </th>
                <th>
                    Điểm Thi
                </th>
                <th>
                    Điểm TB
                </th>
                <th>
                    Điểm Chữ
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (DanhSachLopViewModel item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@Html.DisplayFor(modelItem => item.MaSinhVien)</td>
                    <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiemThanhPhan)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiemThi)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiemTrungBinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiemChu)</td>
                    <td>@item.BangDiemID</td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</section>
